@mixin masthead-font {
  font-family: 'Fugaz One', 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

.masthead-heading--font {
  @include masthead-font;
}

.img-aspect-ratio {

  width: 100%;
  position: absolute;
  object-fit: cover;
  object-position: center;

  &.ratio-70 {
    height: 70%;
  }

  &.ratio-80 {
    height: 80%;
  }

  &.ratio-90 {
    height: 90%;
  }
}