<header class="pt-5 pb-4 bg-primary text-light">
	<div class="container h-100">
		<div class="h-100 pt-4">

			<!--site name-->
			<div class="header-content mx-auto text-center">
				<h1 class="mb-2 masthead-heading--font">{{ site.title }}</h1>
			</div>

			<!--contact-->
			<div class="d-flex flex-row justify-content-end">

				<div>
					<!--phone-->
					<div class="pl-2">
						<table>
							<tr>
								<td class="pr-1">Phone:</td>
								<td>(818) 865-9185</td>
							</tr>
							<tr>
								<td class="pr-1">Fax:</td>
								<td>(818) 865-9188</td>
							</tr>
						</table>
					</div>

					<!--email-->
					<div>sales@topelectronics.net</div>
				</div>
			</div>
		</div>

	</div>
</header>