<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
	<div class="container">

		<a class="navbar-brand" href="/">{{ site.title }}</a>

		<button class="navbar-toggler navbar-toggler-right"
		        type="button"
		        data-toggle="collapse"
		        data-target="#navbarResponsive"
		        aria-controls="navbarResponsive"
		        aria-expanded="false"
		        aria-label="Toggle navigation">
			Menu
			<i class="fas fa-bars"></i>
		</button>

		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">

				{% assign sorted_pages = site.pages | sort:"order" %}
				{% for site_page in sorted_pages %}
					{% if site_page.include_in_menu == true %}
						<li class="nav-item">
							<a class="nav-link {% if site_page.title == page.title %}active{% endif %}"
							   href="{{ site_page.url }}">{{ site_page.title }}</a>
						</li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>

	</div>
</nav>
