<!DOCTYPE html>
<html lang="en">

<!--head-->
{% include common/head.html %}

<body>

<!-- navigation -->
{% include common/nav.html %}

<!--masthead-->
{% include common/masthead.html %}

<!--content-->
<section class="text-center">
	<div class="container">

		<!--title-->
		<div class="section-heading text-center mb-5">
			<h2>404</h2>
			<p class="text-muted">Page not found :(</p>
			<hr>
		</div>

		<div>
			<p>The requested page could not be found.</p>
		</div>
	</div>
</section>

<!--footer-->
{% include common/footer.html %}

<!--javascript-->
{% include common/javascript.html %}

</body>
</html>
