<!DOCTYPE html>
<html lang="en">

<!--head-->
{% include common/head.html %}

<body id="page-top">

<!-- navigation -->
{% include common/nav.html %}

<!--masthead-->
{% include common/masthead.html %}

<!--content-->
<section class="text-left">
	<div class="container">

		<!--title-->
		<div class="section-heading text-center mb-5">
			<h2>{{ page.title }}</h2>
			<!--<p class="text-muted">Check out what you can do with this app theme!</p>-->
			<hr>
		</div>

		<div class="d-flex flex-row justify-content-center">
			<div>
				{{ page.content | markdownify }}
			</div>
		</div>
	</div>
</section>

<!--footer-->
{% include common/footer.html %}

<!--javascript-->
{% include common/javascript.html %}

</body>
</html>
