<!DOCTYPE html>
<html lang="en">

<!--head-->
{% include common/head.html %}

<body>

<!-- navigation -->
{% include common/nav.html %}

<!--masthead-->
{% include common/masthead.html %}

<!--content-->
<section class="download text-left">
	<div class="container">
		<div class="row">
			<div class="col-md-8 mx-auto">
				{{ page.content | markdownify }}
			</div>
		</div>
	</div>
</section>

<section class="cta">
	<div class="cta-content">
		<div class="container">
			<h2>Stop waiting.<br>Start building.</h2>
			<a href="#contact" class="btn btn-outline btn-xl js-scroll-trigger">Let's Get Started!</a>
		</div>
	</div>
	<div class="overlay"></div>
</section>

<section class="contact bg-primary" id="contact">
	<div class="container">
		<h2>We
			<i class="fas fa-heart"></i>
			new friends!</h2>
		<ul class="list-inline list-social">
			<li class="list-inline-item social-twitter">
				<a href="#">
					<i class="fab fa-twitter"></i>
				</a>
			</li>
			<li class="list-inline-item social-facebook">
				<a href="#">
					<i class="fab fa-facebook-f"></i>
				</a>
			</li>
			<li class="list-inline-item social-google-plus">
				<a href="#">
					<i class="fab fa-google-plus-g"></i>
				</a>
			</li>
		</ul>
	</div>
</section>

<!--footer-->
{% include common/footer.html %}

<!--javascript-->
{% include common/javascript.html %}

</body>
</html>
