<!DOCTYPE html>
<html lang="en">

<!--head-->
{% include common/head.html %}

<body>

<!-- navigation -->
{% include common/nav.html %}

<!--masthead-->
{% include common/masthead.html %}

<!--content-->
<section class="features">
	<div class="container">
		<div class="container-fluid">

			<!--items-->
			{% for item in page.items %}
				<div class="row mb-5">

					<!--text-->
					<div class="col-md-6 order-1">
						<div class="feature-item">
							{% if item.show_icon == true %}
								<i class="{{ item.icon }} text-primary"></i>
							{% endif %}
							<h3>{{ item.title }}</h3>
							<div class="text-muted">{{ item.description | markdownify }}</div>
						</div>
					</div>

					<!--image-->
					<div class="d-none d-md-block col-md-6 {% cycle 'order-3', 'order-0' %}">

						{% if item.image %}
							<div class="d-flex flex-column justify-content-center h-100">
								<img class="notes-icon__image" src="{{ item.image }}">
							</div>
						{% endif %}
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</section>

<!--footer-->
{% include common/footer.html %}

<!--javascript-->
{% include common/javascript.html %}

</body>
</html>
