<!DOCTYPE html>
<html lang="en">

<!--head-->
{% include common/head.html %}

<body>

<!-- navigation -->
{% include common/nav.html %}

<!--masthead-->
{% include common/masthead.html %}

<!--content-->
<section class="text-left">
	<div class="container">

		<!--title-->
		<div class="section-heading text-center mb-5">
			<h2>{{ page.title }}</h2>
			<p class="text-muted">{{ page.content }}</p>
			<hr>
		</div>

		<div class="container-fluid">
			<div class="row">

				<!--embedded certificate-->
				<div class="col-md-8">
					<div class="d-flex flex-row justify-content-center">
						<div class="col-lg-8 col-md-10">

							<div class="embed-responsive embed-responsive-5by13 bg-dark">
								<embed src="{{ page.iso_certificate }}#toolbar=0&navpanes=0&scrollbar=0"
								       class="embed-responsive-item"
								       type="application/pdf">
							</div>
						</div>
					</div>
				</div>

				<!--images-->
				<div class="d-none d-md-block col-md-4">

					{% for image in page.images %}

						<div class="row my-5">
							<img class="w-100 value__image" src="{{ image }}">
						</div>
					{% endfor %}
				</div>

			</div>
		</div>

	</div>
</section>

<!--footer-->
{% include common/footer.html %}

<!--javascript-->
{% include common/javascript.html %}

</body>
</html>
