<!DOCTYPE html>
<html lang="en">

<!--head-->
{% include common/head.html %}

<body id="page-top">

<!-- navigation -->
{% include common/nav.html %}

<!--masthead-->
{% include common/masthead.html %}

<!--content-->
<section class="text-left">
	<div class="container">

		<!--title-->
		<div class="section-heading text-center mb-5">
			<h2>{{ page.title }}</h2>
			<p class="text-muted">{{ page.content }}</p>
			<hr>
		</div>

		<div class="d-flex flex-row justify-content-center">
			<div>
				<embed src="files/Brochure.pdf#toolbar=0&navpanes=0&scrollbar=0"
				       type="application/pdf"
				       width="100%"
				       height="600px" />
			</div>
		</div>
	</div>
</section>

<!--footer-->
{% include common/footer.html %}

<!--javascript-->
{% include common/javascript.html %}

</body>
</html>
